# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
vendor/

# Go workspace file
go.work

# IDE specific files
.idea
.vscode
*.swp
*.swo

# Air build directory
tmp/
build/

# Logs
*.log 

# My test keys
jake.*

.terraform/
*.tfvars
*.tfstate
*.tfstate.backup
*.tfstate.backup.*
*.tfstate.lock.info

# Custom Google credentials
*.json
service-account-key.json

.env*
!.env.example

certs/